<!DOCTYPE html>
<html>
  <head>
    <title>TodoistAutomations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h1 class="text-2xl my-2 font-black text-center text-indigo-600">
        <%= link_to "Todoist Automations", root_path %>
      </h1>
    </nav>

    <main class="mx-auto max-w-lg">
      <%= yield %>
    </main>
  </body>
</html>
